/* Add CSS here */
body{
    background-color: #FFF6D6;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 400;
}
.navbar h1 {
    margin: 0;
    font-family: 'MuseoModerno', cursive;
    font-size: 36px;
    color: #D1952E;
}
.navbar h1:hover {
    transition: 0.2s ease; /* smooth hover transition */
    opacity: 0.8;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar li {
    margin-left: 20px; /* spacing between links */
}
.navbar a {
    text-decoration: none;
    font-size: 26px;
    color: black;
    opacity: 0.8; 
}
.navbar a:hover {
    opacity: 1;
    font-weight: 500;
    transition: 1s; /* supposedly there is no way to smoothly transition font weight */
}

.join_button a {
    background-color: rgba(255, 218, 143, 0.8);
    padding: 8px 20px;
    border-radius: 30px;
    transition: background-color 0.2s ease;
}
.join_button a:hover {
    background-color: rgba(255, 218, 143, 1);
    cursor: pointer; /* changes cursor on hover */
}

.main_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.text_container {
    padding: 0px;
}
.text_container h1 {
    font-size: 48px;
    margin: 0;
    font-family: 'MuseoModerno', cursive;
    font-weight: 500;
    line-height: 56px;
}
.text_container h2 {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
}

.image_container {
    text-align: center;
}
#happypotato {
    transition: transform 1s;
    width: 600px;
    height: 600px;
}
#happypotato:hover {
    transform: scale(1.2);
    transform: rotate(360deg);
  }



